#contact_modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
}

#modal_background {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.photograph-header {
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901c1c;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #db8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    max-height: 90dvh;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    overflow: scroll;
    z-index: 100;
}

.modal header {
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: auto;
    padding-bottom: 35px;
}

.modal header img {
    cursor: pointer;
    margin-top: 16px;
}

.modal header h2 {
    font-size: 52px;
    font-weight: normal;
    margin: 0;
    /* text-align: center; */
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
}

form label {
    color: #312e2e;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
}

.media_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    padding: 100px;
}

.media_section article img,
.media_section article video {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
}

.cartouche {
    display: flex;
    justify-content: space-between;
}

.cartouche h2,
.cartouche p {
    margin: 0;
}
